<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProvoJS</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>

  <h1>{{title}}</h1>

  <p><a href="/slack">Join the Slack community</a></p>

  <p><a href="http://meetup.com/provojs">Meetup.com</a></p>

  <p><a href="http://github.com/provojs">Github.com</a></p>

</body>
</html>
